<%= javascript_include_tag 'vendor/d3.v2.min.js', 'vendor/timeknots-min.js' %>
<script>
  var revisions = JSON.parse('<%= raw @history.to_json %>');
  var sha = '<%= @sha %>';
</script>
  
<div id="timeline" style="width:80%;"></div>
<div class="articles">
  <div class="revisions"></div>  
  <div class="content">
    <%= raw @article.render %>
  </div>
</div>
