// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
    text-align: center;
}

.update {
    margin: 50px 10px 50px 60px;
    padding: 5px;
}

.update .heading {
    height: 55px;
    margin-left: -70px;
    font-family: "Fjalla One Regular";
}

.update .heading .content {
    padding: 4px 70px;
}

.update .content .title {
    font-weight: bold;
    font-size: x-large;
}

.update .tag {
    border-style: solid;
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
}

.update .insertion {
    border-style: dashed;
    padding: 0px 10px;
    margin: 0px -10px;
    border-color: #484810;
    background-color: #edff002e;
}

.update .footer {
    text-align: right;
}

.update .preview {
    margin: -50px 0px -50px 0px;
}

.update .top_frame {
    position:relative;
    top:0px;
    height:50px;
    width:100%;
}

.update .top_fade {
    background:-webkit-linear-gradient(rgba( 255, 255, 255, 1), rgba(255, 255, 255, 0) );
    background:linear-gradient( rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) );
}

.update .bottom_frame {
    position:relative;
    bottom:0px;
    height:50px;
    width:100%;
}

.update .bottom_fade {
    background:-webkit-linear-gradient(rgba( 255, 255, 255, 0), rgba(255, 255, 255, 1) );
    background:linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) );
}

@media only screen and (min-width: 800px) {
    .articles {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

.figure {
    max-width:90%;
}

@media only screen and (max-width: 800px) {
    .update .heading {
        margin-left: 0px
    }

    .update {
        margin-left: 10px;
    }
}
